body {
  background-color: beige;
}

img {
  width: 400px;
}

#birthday {
  display: none;
}

#choc {
  display: none;
}

#error {
  display: none;
}

#loft {
  display: none;
}

#mnm {
  display: none;
}

#ron {
  display: none;
}